__pycache__/
.idea/
.venv/
.vscode/
data/
release/
config.json
embed_text_watermark.py
.vscode/settings.json
nuitka-crash-report.xml
Wows Paragrams Unpack.code-workspace
debug_path.py
群星mod.code-workspace
_skill_table.md
_archive/scripts/others.txt
